<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List books</title>
</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear() }">user</a>
</div>
<br/>

<a th:href="@{/people}">
    <input type="submit" value="Перейти к списку клиентов">
</a>

<hr/>
<a href="/books/new">
<input type="submit" value="Добавить книгу"></a>

</body>
</html>